.App {
  text-align: center;
  background-color: lightgray;
  
}

.app-main{
  background-color: whitesmoke;
  min-height: 100vh;
}

.card-class{
  max-width: 750px;
 
}

.details-class{
  background-color: F5F5F5;
  min-height: 100vh;
}

